/* Estilos para la portada */
.portada {
  margin-top: 0cm;
  margin-right: 23.05pt;
  margin-bottom: 0cm;
  margin-left: -10.5pt;
  margin-bottom: .0001pt;
  text-align: justify;
  font-family: Verdana;
  font-size: 18pt;
}

/* Estilos para los encabezados */
h1, h2, h3, h4 {
  margin-top: 0cm;
  margin-right: 23.05pt;
  margin-bottom: 0cm;
  margin-left: -10.5pt;
  margin-bottom: .0001pt;
  text-align: justify;
  font-family: Verdana;
}

h1 {
  font-size: 18pt;
}

h2 {
  font-size: 14pt;
}

h3 {
  font-size: 12pt;
}

h4 {
  font-size: 11pt;
}

/* Estilos para los párrafos */
p {
  margin-top: .05pt;
  margin-bottom: 0cm;
  margin-left: -10.5pt;
  margin-right: -15px;
  margin-bottom: .0001pt;
  text-align: justify;
  font-family: Verdana;
  font-size: 11pt;
}

/* Estilo para las tablas */
table {
  width: 460.0pt;
  margin-left: 10px;
  border-collapse: collapse;
  align-content: center;
  margin: 0 auto;
}

/* Estilo para el salto de página */
.salto-pagina {
  page-break-after: always;
}
